body {
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9f9; /* Add a light background color */
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #ffffff; /* Add a background color for the container */
}
